RewriteEngine On
RewriteCond %{HTTP_HOST} !^www\.ilsignordaianei\.com$
RewriteRule (.*) http://www.associazioneaulus.it/$1 [R=301,L]
RewriteCond %{HTTP_HOST} !^ilsignordaianei\.com$
RewriteRule (.*) http://www.associazioneaulus.it/$1 [R=301,L]
