RewriteEngine on

# Redirect to another domain: www.associazioneaulus.it.
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} !^(www\.)?associazioneaulus\.it$ [NC]
RewriteRule (.*) http://www.associazioneaulus.it%{REQUEST_URI} [R=301,L]
# Same for HTTPS:
RewriteCond %{HTTPS} on
RewriteCond %{HTTP_HOST} !^(www\.)?associazioneaulus\.it$ [NC]
RewriteRule (.*) https://www.associazioneaulus.it%{REQUEST_URI} [R=301,L]
