@font-face {
    font-family: aniron-regular;
    src: url(./fonts/aniron.regular.ttf);
}

h1,h2,h3,h4,h5,h6 {
    font-family: aniron-regular !important;
}

.masthead-subheading {
    font-style: normal !important;
    font-family: aniron-regular !important;
}

.masthead-subheading-3 {
    font-family: aniron-regular !important;
    font-size: 30px !important;
    letter-spacing: 3px;
}

.progress-bar {
    color: black;
}