@font-face {
    font-family: aniron-regular;
    src: url(./fonts/aniron.regular.ttf);
}

body {
    cursor: url('mouseIco.png'), auto;
}

h1,h2,h3,h4,h5,h6 {
    font-family: aniron-regular !important;
}

.masthead-subheading {
    font-style: normal !important;
    font-family: aniron-regular !important;
}

#mainNav.navbar-shrink {
    padding-top: 0px;
    padding-bottom: 0px;
}

.i18n {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.warn-back{
    color: #143d59;
}

.warn-back:hover{
    color: #143d59;
    text-decoration: underline;
}

.current-translation {
    color: grey;
    border-bottom: 1.3px solid grey;
}

.btn {
    color: black;
}

.btn-dark {
    color: white;
}

.masthead-subheading-3 {
    font-family: aniron-regular !important;
    font-size: 30px !important;
    letter-spacing: 3px;
}

.progress-bars {
    padding: 5px 20px 55px 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0 0.2rem 0.9rem rgba(0, 0, 0, 0.10);
}

.progress-bar {
    color: black;
    border-radius: 10px;
}

.progress {
    height: 23px;
    font-size: medium;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.15);
    border-radius: 10px;

}

.download-section {
    margin: 40px 0 0 0;
}

.eye { 

    width: 200px;
    height: 200px;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(139,0,0,1) 47%, rgba(255,181,0,0.9066001400560224) 100%);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 20%) rotate(45deg);
    border-radius: 55% 0;
}

.ball {
    width: 175px;
    height: 175px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    
    border: 40px solid #ffed51;
    animation: pulse 10s infinite
}

.timeline-heading h4 {
    font-size: 30px;
}

.timeline-heading .subheading {
    padding-top: 15px;
    font-size: 18px;
}

.inner-alert {
    box-shadow: 0 0.2rem 0.9rem rgba(0, 0, 0, 0.10);
    color: black;
    margin-top: 25px;
    background-color: #ffc107;
    opacity: 0.8;
}


@keyframes pulse {
	0% {
        transform: translate(-50%, -50%) rotate(-45deg) scaleX(0.15);
    }

    5% {
        transform: translate(-26%, -50%) rotate(-45deg) scaleX(0.12) scaleY(0.7);
    }

    20% {
        transform: translate(-26%, -50%) rotate(-45deg) scaleX(0.20) scaleY(0.7);
    }

    25% {
        transform: translate(-50%, -26%) rotate(-45deg) scaleX(0.25) scaleY(0.7);
    }

    45% {
        transform: translate(-50%, -26%) rotate(-45deg) scaleX(0.15) scaleY(0.7);
    }

    50% {
        transform: translate(-50%, -74%) rotate(-45deg) scaleX(0.15) scaleY(0.7);
    }

    60% {
        transform: translate(-50%, -74%) rotate(-45deg) scaleX(0.15) scaleY(0.7);
    }

    70% {
        transform: translate(-50%, -50%) rotate(-45deg) scaleX(0.15);
    }

    85% {
        transform: translate(-50%, -50%) rotate(-45deg) scaleX(0.3);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-45deg) scaleX(0.15);
    }
}